/*~~~~分页按钮加入~~~~~~*/
#insert_pageing{
	margin-top:20px;}
#pageing{
	width:40%;
	margin:0 auto;
	}
#pageing>a{
	padding:0 5px;
	border:1px solid #ccc;
	margin-right:5px;
	float:left;}
#pageing>a:hover{
	background-color: #fff;
	border:1px solid #154C7F;}	
#pageing>a.current{
	background-color: #154C7F;
	border:1px solid #154C7F;
	color:#fff;	
}	
