.home-sprite, .home-home2, .home-home3 {
  background-image: url('home-sad9065eabc.png');
  background-repeat: no-repeat;
}

.home-home2 {
  background-position: 0 0;
}

.home-home3 {
  background-position: 0 -32px;
}
