@import '../G_pageing/G_pageing.css';
@import '../G_search/G_search.css';
@import '../G_category/G_category.css';

#insert_search{
	float:right;}
#insert_category{
	clear:both;}
	
	
	
#list{
	color:#555;
	width:80%;
	overflow:hidden;
	margin:30px auto;
	background-color:;
	position:relative;}
#list>h1{
	font-size:30px;
	float:left;
	margin-bottom:10px;}
#list>h3{
	clear:both;}
	
#list>p{
	margin:10px 0;}	
	
table{
	border:1px solid #f50;
	border-collapse:collapse;
	background-color: #eee;
	width:100%;}
/*table>thead{
	border:1px solid green;}	
table>thead>tr{
	border:1px solid blue;}	*/
table>tbody>tr:hover{
	background-color: #fff;}	
table>thead>tr>th{
	border:1px solid #999;
	text-align:left;
	padding:4px;
	padding-left:10px;
	font-size:12px;}	
table>tbody>tr>td{
	border:1px solid #ccc;
	padding:2px;
	padding-left:10px;
	font-size:12px;}
table>tbody>tr>td>a{
	color:blue;}
table>tbody>tr>td>button{
	border:1px solid #CC154E;
	background-color:#E43C61;
	color:#fff;
	padding:3px;
	border-radius:5px;
	cursor:pointer;}	
