@import '../G_pageing/G_pageing.css';

#movie{
	color:#555;
	width:80%;
	overflow:hidden;
	margin:30px auto;
	background-color: #eee;
	position:relative;}
#movie>h1{
	font-size:30px;}
#movie>nav>a{
	font-size:14px;}	
#movie>nav>a:hover{
	color:#1357CF;}
#movie>nav>a.selected{
	background-color: #154C7F;
	color:#fff;
	border-radius:5px;
	padding:0 10px;}		
	
#movie>ul{
	margin-top:20px;}	
#movie>ul>li{
	border:1px solid #ddd;}	
#movie>ul>li>img{
	width:100%;
	height:180px;}
#movie>ul>li>h3{
	padding-left:10px;
	height:23px;
	font-size:14px;
	margin-top:5px;
	overflow:hidden;
	}
#movie>ul>li>a{
	width:80px;
	height:25px;
	border:1px solid #8AA0E8;
	border-radius:5px;
	margin:0 0 10px 10px;
	background-color: #154C7F;
	color:#fff;
	text-align:center;
	font-size:11px;
	line-height:23px;
	}	
	
/*~~~~分页按钮加入~~~~~~*/
/*#insert_pageing{
	margin-top:20px;}
#pageing{
	width:40%;
	margin:0 auto;
	}
#pageing>a{
	padding:0 5px;
	border:1px solid #ccc;
	margin-right:5px;
	float:left;}
#pageing>a:hover{
	background-color: #fff;
	border:1px solid #154C7F;}	
#pageing>a.current{
	background-color: #154C7F;
	border:1px solid #154C7F;
	color:#fff;	
}	*/		
